<form name="formulario" id="formulario">
	<ion-view view-title="Formulario de Contacto">
		
		<ion-nav-buttons side="right">
	        <div class="row button-nav-bar">
	            <div class="col button-nav-bar">
	                <a class="button button-icon button-clear" ng-click="enviar(formData)" ng-disabled="formulario.$invalid">
	                    <i class="icon ion-checkmark"></i>
	                </a>
	            </div>
	        </div>  
	    </ion-nav-buttons>

	  	<ion-content>

		    <div class="list card">

				<div class="item item-avatar">
					<img src="img/logo_key_negro.png">
					<h2>Contacto</h2>
		            <p>Conócenos más de cerca.</p>
				</div>

				<div class="form">
				<form name="formulario" id="formulario">
		    		
		        	<div class="list">
					  	<label class="item item-input item-stacked-label">
					    	<span class="input-label">Nombre</span>
					    	<input type="text" placeholder="Nombre y Apellido" id="i_nombre" name="nombre" ng-model="formData.i_nombre" required>
					 	</label>
					  	<label class="item item-input item-stacked-label">
					    	<span class="input-label">Telefono</span>
					    	<input type="number" placeholder="Telefono" id="i_telefono" name="telefono" ng-model="formData.i_telefono" required>
					  	</label>				  	
					  	<label class="item item-input item-stacked-label">
					    	<span class="input-label">Email</span>
					    	<input type="text" placeholder="nombre@dominio.com" id="i_correo" name="correo" ng-model="formData.i_correo" required>
					  	</label>
					  	<label class="item item-input">
						    <textarea placeholder="Escriba aqui su solicitud" rows="7" id="i_consulta" name="mensaje" ng-model="formData.i_consulta" required></textarea>
						</label>

					</div>
					
	        	</form>
			</div>

	  	</ion-content>
	</ion-view>
</form>