<ion-view view-title="Logos">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/logo.jpg">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2>Manual De Identidad</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Disfruta de un servicio completo de diseño de Logo Empresarial con todas las características de una identidad corpórea para mantener una línea de diseño adecuada a tu empresa.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2>Vectorizaciones</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Brindamos el servicio profesional de vectorización de imágenes para; Gigantografía, Pendones, Vallas Publicitarias, Animaciones y mucho mas..
		    	</p>
	  		</div>
	  	</div>
	  	
  	</ion-content>
</ion-view>