<ion-view view-title="Multiplataforma">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/app.png">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2>Tu Web App</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Posiciona tu página tanto en la web como en la Play Store y deja que tus clientes se sientan a gusto contigo.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2>Posiciónate</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Haz que te encuentren en todos lados a toda Hora y en todos los dispositivos.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2>Flexibilidad</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Experiencia diferente sin necesidad de gastos excesivos, proporcionando la información de forma inmediata.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number4.png">
    		<h2>Comodidad</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Valora el tiempo de tus clientes y ofréceles un mejor servicio cada día, obsequiándoles herramientas que permitan estar conectados contigo en todo momento.
		    	</p>
	  		</div>
	  	</div>

  	</ion-content>
</ion-view>
