<ion-view view-title="Social Media">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/social.jpg">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2><b>Instagram</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Aumentamos tus seguidores, influenciamos tus cuentas, mejoramos el aspecto visual de tu marca y hacemos captación de potenciales clientes.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2><b>Twitter</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Creamos interacción de tus usuarios con tu Sitio Web, mejoramos el dinamismo a diario y generamos temas de interés relacionado a tu público.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2><b>Facebook</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Creamos estrategias para el logro de la comunicación con tu cliente, conseguir potenciales clientes brindandoles soluciones a sus problemas.
		    	</p>
	  		</div>
	  	</div>

	  	<div class="item item-avatar">
    		<img src="img/number4.png">
    		<h2><b>Otras</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Según las características y tópicos manejamos diferentes herramientas como Google +, LinkeIn, Pinterest, Tumblr, Flickr entre otras...
		    	</p>
	  		</div>
	  	</div>

  	</ion-content>
</ion-view>