<ion-view view-title="Diseño Gráfico">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/diseno.jpg">
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2><b>Publicidad</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Bríndamos también el servicio completo para tus campañas publicitarias, tales como; pendones, afiches, vallas, volantes, flyers y todo en un mismo lugar.
		    	</p>
	  		</div>
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2><b>Animaciones</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Realizamos cortometrajes de tu marca, humanización de logos, videos de intriga, comerciales en 2 Dimensiones y mucho más...
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2><b>Empaques</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Trabajamos con empaques de para tu marca, realizamos diseños adaptados a tu mercado y a las necesidades de tus clientes.
		    	</p>
	  		</div>
	  	</div>  	

  	</ion-content>
</ion-view>