<ion-view view-title="Diseño Gráfico">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/diseno.jpg">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2>Diseño Web Personalizado</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Tenemos para TÍ profesionales en el área a tu disposición para producir las ideas necesarias y plasmarla en tu entorno web.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2>Ilustraciones</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Ofréce a tus clientes diseños creativos e innovadores de tus productos, fortaleciendo su aspecto para la venta.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2>Diseño Web Empresarial</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Para los mas exigentes, ofrecemos propuestas corporativas previamente presentadas por nuestros ilustradores y diseñadores.
		    	</p>
	  		</div>
	  	</div>

  	</ion-content>
</ion-view>