<ion-view view-title="Remodelaciones en 3D">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/remodelaciones.jpg">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2>Remodelación de Exteriores</h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Diseñamos espacios abiertos para Centros Comerciales, Edificios, Plazas ó Lugares de Recreación en realidad aumentada.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2>Remodelación de Interiores</h2>    		  		
	  		<div class="item-body">
		    	<p>
					Elaboración de espacios internos tales como; Cuartos, Cocinas, Sala, Espacios de Trabajos donde podrás decorar con cualquier estilo de ambientes.
		    	</p>
	  		</div>
	  	</div>

	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2>Renderizaciones</h2>    		  		
	  		<div class="item-body">
		    	<p>
					El renderizado es una poderosisima herramienta a la hora de presentar, exponer, vender un proyecto, con ello se logra corregir, afinar, detalles que no podemos ver en simples dibujos planos.
		    	</p>
	  		</div>
	  	</div>
	  	
  	</ion-content>
</ion-view>
