<ion-view view-title="Logos">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/logo.jpg">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2><b>Tu Imagen</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		TU LOGO, la primera imagen que vende tu marca, por eso déjala en manos de expertos con experiencia, por que un logo no es olo una imagen, es como los demás te miran.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2><b>Identidad Corporativa</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Obtén una línea de diseño completa para todos los documentos de tu empresa, tales como; sobres, sellos, membrete, talonario, tarjetas de presentación y papelería en general.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2><b>Manual Corporativo</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Demuestra que tu marca lo vale! Abarcamos el material POP que tu empresa necesita, tales como; tazas, bolígrafos, camisas, mousepad y mucho más...
		    	</p>
	  		</div>
	  	</div>
	  	
  	</ion-content>
</ion-view>