<ion-view view-title="Páginas Web">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/web.jpg">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2><b>Diseño Web</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Realiza tú Página Web y asegúrate que cumpla las condiciones de estar adaptadas a dispositivos móviles, si no estas en los teléfonos hoy en día es como no estar.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2><b>Tiendas Virtuales</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Valora a tus clientes otorgándoles cada vez mayores facilidades y comodidades de acceso para comprar sus productos de manera garantizada y segura.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2><b>Diseños Web Responsive</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Todos nuestros diseños son exclusivos y pensados para funcionar en cualquier dispositivo.
		    	</p>
	  		</div>
	  	</div>

  	</ion-content>
</ion-view>
