<ion-view view-title="Multiplataforma">
  	<ion-content>
		
		<div class="item-body item-init">
		    <img class="full-image" src="img/app.png">
	  	</div>
		<div class="item item-avatar">
    		<img src="img/number1.png">
    		<h2><b>Multiplataforma</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Ofrecemos la oportunidad de desarrollar en 3 plataformas por el precio de una. Sube tu aplicación para Iphone, Windows 10 y Android.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number2.png">
    		<h2><b>Precio de Regalo</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Te brindamos la oportunidad de aparecer en las tiendas de aplicaciones con desarrollo de calidad y autogestionable a precios nunca antes vistos.
		    	</p>
	  		</div>
	  	</div>
	  	<div class="item item-avatar">
    		<img src="img/number3.png">
    		<h2><b>Experiencia</b></h2>    		  		
	  		<div class="item-body">
		    	<p>
		      		Más que una aplicación, bríndale a tus clientes una experiencia inolvidable con tu propia aplicación, publicando artículos, promociones y mucho más.
		    	</p>
	  		</div>
	  	</div>

  	</ion-content>
</ion-view>
