<div class="modal" id="inicio">
    <ion-header-bar on-drag="dragDown($event)" on-release="resetPosition($event)">        
        <h1 class="title">Inicio</h1>
        <button class="button button-icon button-clear ion-android-close" ng-click="closeModal(inicio)"></button>
    </ion-header-bar>
    <ion-content>
        <div class="item item-body ng-show" ng-hide="incio">
            <div class="list">
                <p>Key Systems trae para ti servicios de gran alcance para solucionar tus problemas, aumentar tus ventas y disminuirte los gastos, propiciando un mayor rendimiento a los sectores que te enfrentas a diario.</p>
            </div>
        </div>
        <ul class="list">
            <a class="item item-icon-right" href="#">
                <i class="icon ion-chevron-right"></i>
                Leer más...
            </a>
        </ul>
    </ion-content>
</div>