<ion-view view-title="section">
	<ion-content>
	    
        <ion-slide-box>
            <ion-slide>
                <div class="box blue-key">
                    <div class="box-content">
                        <div class="profile-picture"><img src="img/logo-key.png"/></div>
                        <div class="box-white"><h2 class="h2-name">KEY SYSTEMS</h2></div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box blue-key">
                    <div class="box-content">
                    <div class="box-white"><p>Empresa dedicada al desarrollo de soluciones tecnológicas en distintas áreas del mercado, brindando una gran experiencia al usuario. </p></div>
                    <p>-- Refleja tus ideas --</p>
                    <div class="box-white"><h4 class="h4-local">Venezuela</h4></div>
                    </div>
                </div>
            </ion-slide>

        </ion-slide-box>
        
	    <!--<ion-list>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="section in sections" type="item-text-wrap" href="http://keysystems.com.ve/{{section.url}}">
	        <img ng-src="{{section.icon}}">
	        <h2>{{section.name}}</h2>
	        <p>{{section.lastText}}</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	      </ion-item>
	    </ion-list>-->

	    <div class="item item-avatar item-icon-right" >
            <img ng-src="img/inicio.png">
            <h2 class="h2-top">INICIO</h2>
            
        </div>
        <div class="item item-body ng-show" ng-hide="incio">
            <div class="list">
                <p>Key Systems trae para ti servicios de gran alcance para solucionar tus problemas, aumentar tus ventas y disminuirte los gastos, propiciando un mayor rendimiento a los sectores que te enfrentas a diario.</p>
                <p>Si desea cargar el contenido completo</p>       
                <a  href="#" onClick="window.open('http://keysystems.com.ve','_blank','location=yes');return false;"><button class="button button-small" >Ir a web <i class="icon ion-chevron-right"></i></button></a>
                <!--<button browse-to="http://keysystems.com.ve">Open Google</button>-->

            </div>
        </div>

        <div class="item item-avatar item-icon-right" >
            <img ng-src="./img/web.png">
            <h2 class="h2-top" >WEB</h2>
            
        </div>
        <div class="item item-body ng-show" ng-hide="web">
            <div class="list">
                <p>Implementamos desarrollos con nuevas tecneologias para el desarrollo de páginas webs, tiendas virtuales basandonos en estandares y plataformas universales que permiten ser exponenciales a traves del tiempo. Dentro de nuestros desarrollos podras obtener la adaptación a tablets, móvil y escritorio con un solo desarrollo.</p>
                <a  href="#" onClick="window.open('http://keysystems.com.ve/desarrollo-web/','_blank','location=yes');return false;"><button class="button button-small" >Ir a web <i class="icon ion-chevron-right"></i></button></a>
            </div>
        </div>

        <div class="item item-avatar item-icon-right" >
            <img ng-src="./img/diseno.png">
            <h2 class="h2-top">DISEÑO</h2>
            
        </div>
        <div class="item item-body ng-show" ng-hide="diseno">
            <div class="list">
                <p>Aqui podrás encontrar un servicio completo para tu negocio, desde publicidad hasta el diseño de la papeleria completa. también ofrecemos videos promocionales animados para generar comerciales que pueden ser difundidos por las redes sociales de manera práctica y eficiente.</p>
                <a  href="#" onClick="window.open('http://keysystems.com.ve/diseno-grafico/','_blank','location=yes');return false;"><button class="button button-small" >Ir a web <i class="icon ion-chevron-right"></i></button></a>
            </div>
        </div>

        <div class="item item-avatar item-icon-right" >
            <img ng-src="./img/arquitectura.png">
            <h2 class="h2-top">ARQUITECTURA</h2>
           
        </div>
        <div class="item item-body ng-show" ng-hide="arquitectura">
            <div class="list">
                <p>Servicio completo de arquitectura, diseño de planos en 2D y 3D, recorridos virtuales, renderizados de espacios y ambientes, permisos sanitarios.</p>
                <a  href="#" onClick="window.open('http://keysystems.com.ve/aquitectura/','_blank','location=yes');return false;"><button class="button button-small" >Ir a web <i class="icon ion-chevron-right"></i></button></a>
            </div>
        </div>

        <div class="item item-avatar item-icon-right" >
            <img ng-src="./img/planes.png">
            <h2 class="h2-top">PLANES</h2>
            
        </div>
        <div class="item item-body ng-show" ng-hide="planes">
            <div class="list">
                Manejamos planes para diferentes necesidades tanto para el desarrollode páginas web como para tiendas virtuales.
                <p>Planes Web:</p>
                <ul class="list">
                    <li><i class="icon ion-checkmark"></i> Plan promocional: 2.999 +  Iva</li>
                    <li><i class="icon ion-checkmark"></i>  Plan Bronce: 5.999 +  Iva</li>
                    <li><i class="icon ion-checkmark"></i> Plan Plata: 9.999 +  Iva</li>
                    <li><i class="icon ion-checkmark"></i> Plan Oro: 11.999 +  Iva</li>
                </ul>
                <p>Tiendas Virtuales</p>
                <ul>
                <li><i class="icon ion-checkmark"></i> Plan Bronce: 14.999 +  Iva</li>
                <li><i class="icon ion-checkmark"></i> Plan Plata: 22.500 +  Iva</li>
                <li><i class="icon ion-checkmark"></i> Plan Oro: 29.999 +  Iva</li>
                </ul>

                <p>Logos</p>
                <ul>
                <li><i class="icon ion-checkmark"></i> Bs 15.000 + Iva</li>
                </ul>

                <p>Estructura y Recorridos en 3D</p>
                <ul>
                <li><i class="icon ion-checkmark"></i> Bs 8.999 + Iva</li>
                </ul>
                <br>
                <a  href="#" onClick="window.open('http://keysystems.com.ve/planes/','_blank','location=yes');return false;"><button class="button button-small" >Ir a web <i class="icon ion-chevron-right"></i></button></a>
            </div>
        </div>

        <!--<div class="item item-avatar item-icon-right" ng-click="portafolio = !portafolio">
            <img ng-src="./img/portafolio.png">
            <h2 class="h2-top">PORTAFOLIO</h2>
            <i class="icon ion-chevron-down icon-accessory"></i>
        </div>
        <div class="item item-body ng-show" ng-hide="portafolio">
            <div class="list">
            hola

            </div>
        </div>-->

        <!--<div class="item item-avatar item-icon-right" ng-click="contacto = !contacto">
            <img ng-src="./img/contacto.png">
            <h2 class="h2-top">CONTACTO</h2>
            <i class="icon ion-chevron-down icon-accessory"></i>
        </div>
        <div class="item item-body" ng-show="contacto">
            <div class="list">
                <ul>
                    <li>Principal - Carrizal</li>
                    <ul>Telefono: 
                        <li>0416 -712.25.04 / +58 414 - 266.75.19</li>
                    </ul>
                    <li>Correo: contacto@keysystems.com.ve</li>
                    <li>Web: www.keysystems.com.ve</li>
                </ul>
            </div>
        </div>-->

        <div class="item  blue-key center">
            <h3 class="white " align="center">
            © 2015 Key Systems C.A.</h3>
             <div class="list white center">
                <ul>
                    <li>0416 -712.25.04 / +58 414 - 266.75.19</li>
                    <li>contacto@keysystems.com.ve</li>
                    <li><a class="white" href="#" onClick="window.open('http://keysystems.com.ve','_blank','location=yes');return false;">www.keysystems.com.ve</a></li>
                </ul>
            </div>
        </div>
        
	</ion-content>
</ion-view>
