<ion-view view-title="section">
	<ion-content>
	    
	    <iframe src="http://keypanelservices.com/codepein/" width="500" height="200"></iframe>
	    <ion-list>
	      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="section in sections" type="item-text-wrap" href="http://keysystems.com.ve/{{section.url}}">
	        <img ng-src="{{section.icon}}">
	        <h2>{{section.name}}</h2>
	        <p>{{section.lastText}}</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>

	      </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>
