<ion-view view-title="Key Systems">
    <ion-content class="padding">
        
        <a class="col col-50 button-clear box-key" href="#">
            <div class="item item-image">
                <img src="img/ionic.png">
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#">
            <div class="item item-image">
                <img src="img/ionic.png">
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#">
            <div class="item item-image">
                <img src="img/ionic.png">
            </div>
        </a>
    
        <a class="col col-50 button-clear box-key" href="#">
            <div class="item item-image">
                <img src="img/ionic.png">
            </div>
        </a>
        
    </ion-content>
</ion-view>
