<ion-view view-title="Key Systems">
    <ion-content class="padding">

        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
            <ion-slide>
                <div class="box img-slider"><img src="img/img-1.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box img-slider"><img src="img/img-2.jpg"></div>
            </ion-slide>
            <ion-slide>
                <div class="box img-slider"><img src="img/img-3.jpg"></div>
            </ion-slide>
        </ion-slide-box>
        
        <a class="col col-50 button-clear box-key" href="#tab/multiplataforma">
            <div class="item item-image" style="padding: 10px;">
                <img src="img/app.jpg">
                <p>Multiplataforma</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/web">
            <div class="item item-image" style="padding: 10px;">
                <img src="img/web.jpg">
                <p>Páginas Web</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/diseno">
            <div class="item item-image" style="padding: 10px;">
                <img src="img/diseno.jpg">
                <p>Diseño Gráfico</p>
            </div>
        </a>
    
        <a class="col col-50 button-clear box-key" href="#/tab/logo">
            <div class="item item-image" style="padding: 10px;">
                <img src="img/logo.jpg">
                <p>Logos</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/3d">
            <div class="item item-image" style="padding: 10px;">
                <img src="img/remodelaciones.jpg">
                <p>Remodelaciones en 3D</p>
            </div>
        </a>

        <!--<a class="col col-50 button-clear box-key" href="#/tab/social">
            <div class="item item-image" style="padding: 10px;">
                <img src="img/social.jpg">
                <p>Social Media</p>
            </div>
        </a>-->
        
    </ion-content>
</ion-view>
