<ion-view view-title="Key Systems">
    <ion-content class="padding">
        
        <a class="col col-50 button-clear box-key" href="#tab/multiplataforma">
            <div class="item item-image">
                <img src="img/app.jpg" style="padding: 10px">
                <p>Multiplataforma</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/web">
            <div class="item item-image">
                <img src="img/web.jpg" style="padding: 10px">
                <p>Páginas Web</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/diseno">
            <div class="item item-image">
                <img src="img/diseno.jpg" style="padding: 10px">
                <p>Diseño Gráfico</p>
            </div>
        </a>
    
        <a class="col col-50 button-clear box-key" href="#/tab/logo">
            <div class="item item-image">
                <img src="img/logo.jpg" style="padding: 10px">
                <p>Logos</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/3d">
            <div class="item item-image">
                <img src="img/remodelaciones.jpg" style="padding: 10px">
                <p>Remodelaciones en 3D</p>
            </div>
        </a>

        <a class="col col-50 button-clear box-key" href="#/tab/social">
            <div class="item item-image">
                <img src="img/social.jpg" style="padding: 10px">
                <p>Social Media</p>
            </div>
        </a>
        
    </ion-content>
</ion-view>
