<ion-view view-title="Account">
  	<ion-content class="padding">

  		<div class="list card">

			<div class="item item-avatar">
				<img src="img/logo_key_negro.png">
				<h2>Key Systems </h2>
	            <p>Refleja tus ideas...</p>
			</div>

			<div class="item item-icon-left">
			    <i class="icon ion-ios-location-outline"></i>
			    Dirección: Carrizal, Edo Miranda, Avenida Principal.
			</div>

			<a href="tel:+58 416-712.25.04" class="item item-icon-left">
			    <i class="icon ion-ios-telephone-outline"></i>
			    Teléfonos: +58 416-712.25.04
			</a>

			<a href="mailto:contacto@keysystems.com.ve" class="item item-icon-left">
			    <i class="icon ion-ios-email-outline"></i>
			    Correo: contacto@keysystems.com.ve
			</a>

		</div>

		<div class="list card">

			

		</div>

	    <div class="list card">

			<div class="item item-avatar">
				<img src="img/logo_key_negro.png">
				<h2>Contacto</h2>
	            <p>Conócenos más de cerca.</p>
			</div>

			<div class="form">
				<form name="formulario" id="formulario">
		    		
		        	<div class="list">
					  	<label class="item item-input item-stacked-label">
					    	<span class="input-label">Nombre</span>
					    	<input type="text" placeholder="Nombre y Apellido">
					 	</label>
					  	<label class="item item-input item-stacked-label">
					    	<span class="input-label">Telefono</span>
					    	<input type="text" placeholder="Telefono">
					  	</label>				  	
					  	<label class="item item-input item-stacked-label">
					    	<span class="input-label">Email</span>
					    	<input type="text" placeholder="nombre@dominio.com">
					  	</label>
					  	<label class="item item-input">
						    <textarea placeholder="Escriba aqui su solicitud" rows="3"></textarea>
						</label>
					  	<label class="item item-input item-stacked-label"></label> 
					</div>
					
					<div class="button-enviar" align="center">
						<button  class="button button-positive">
		  					Enviar
						</button>
					</div>
					
	        	</form>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
				  	<i class="icon ion-social-facebook"></i>
				</a>
				<a class="tab-item" href="#">
				  	<i class="icon ion-social-twitter"></i>
				</a>
				<a class="tab-item" href="#">
				  	<i class="icon ion-social-youtube"></i>
				</a>
				<a class="tab-item" href="#">
				  	<i class="icon ion-social-instagram"></i>
				</a>
			</div>

		</div>

  	</ion-content>
</ion-view>