<ion-view view-title="Planes">
    <ion-content>
        
        <ion-refresher refreshing-icon="dots" on-refresh="RecargarPlanes()"></ion-refresher>

        <div class="card card-planes" ng-repeat="plan in planes">
            <div class="item item-text-wrap planes-box">
                <div class="row padding-0">
                    <div class="col col-33 col-custon">
                        
                        <div class="verticalLine">
                            <div class="img-planes">
                                <img ng-src="{{plan.img_plan}}">
                            </div>
                        </div>
                    </div>
                    <div class="col col-67 col-custon">
                        <div class="text-nombre">
                            <p>{{plan.nombre_plan}}</p>
                        </div>
                        <div class="row">
                            <div class="col col-75 col-custon">
                                <div class="text-precio">
                                    <p>{{plan.precio_plan}} <i class="ion-social-usd-outline"></i></p>
                                </div>
                                <div class="start-rating">
                                    <fieldset class="rating">           
                                        <input type="radio" id="star3" value="3" ng-model="plan.estrellas_plan" disabled/><label for="star3" title="Rocks!">3 stars</label>
                                        <input type="radio" id="star2" value="2" ng-model="plan.estrellas_plan" disabled/><label for="star2" title="Pretty good">2 stars</label>
                                        <input type="radio" id="star1" value="1" ng-model="plan.estrellas_plan" disabled/><label for="star1" title="Meh">1 stars</label>
                                    </fieldset>
                                <div>
                            </div>
                            <div class="col">
                                <div class="icon-planes-descarga">
                                    <a browse-to="{{plan.archivo_plan}}">
                                        <i class="ion-ios-cloud-download-outline"></i>
                                    </a>
                                </div>
                                <div class="text-descarga">
                                    <p>Descarga</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </ion-content>
</ion-view>
