<ion-view view-title="Noticias">
  <ion-content>
    
    <ion-list ng-repeat="noticia in noticias">
		<div class="item item-avatar">
		    <img src="img/icon_movil.png">
		    <h2>{{ noticia.post_title }}</h2>
		    <p>{{ noticia.post_date }}</p>
	  	</div>

	  	<div class="item item-body" style="padding: 0px;">
		    <img class="full-image" ng-src="{{ noticia.post_excerpt }}">
	  	</div>
	  	<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-facebook"></i>
			</a>
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-twitter"></i>
			</a>			
			<a class="tab-item" href="#">
			  	<i class="icon ion-social-instagram"></i>
			</a>
			<a class="tab-item" href="#" browse-to="{{ noticia.guid }}">
			  	<i class="icon ion-android-arrow-forward"></i>
			</a>
		</div>
    </ion-list>
      
  </ion-content>
</ion-view>
