<ion-view view-title="Aplicaciones">
  	<ion-content>
 
      	<a class="col col-50 button-clear box-app" href="#">
            <div class="item item-image">
                <img src="img/img-prueba.jpg">
            </div>
        </a>

        <a class="col col-50 button-clear box-app" href="#">
            <div class="item item-image">
                <img src="img/img-prueba.jpg">
            </div>
        </a>

        <a class="col col-50 button-clear box-app" href="#">
            <div class="item item-image">
                <img src="img/img-prueba.jpg">
            </div>
        </a>

        <a class="col col-50 button-clear box-app" href="#">
            <div class="item item-image">
                <img src="img/img-prueba.jpg">
            </div>
        </a>
    
  	</ion-content>
</ion-view>