<ion-view view-title="Planes">
  <ion-content>
    
        <div class="list">
    
            <div class="item item-divider">
                Páginas Web
            </div>

            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/pagina-web-promocional/">                
                <img src="./img/planes/promo.png">
                <h2 style="margin-top: 15px;">Página Web Promocional</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/pagina-web-bronce/">
                <img src="./img/planes/medalla_bronce.png">
                <h2 style="margin-top: 15px;">Página Web Bronce</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/pagina-web-plata/">
                <img src="./img/planes/medalla_silver.png">
                <h2 style="margin-top: 15px;">Página Web Plata</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/pagina-web-oro/">
                <img src="./img/planes/medalla_oro.png">
                <h2 style="margin-top: 15px;">Página Web Oro</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <div class="item item-divider">
                Tiendas Virtuales
            </div>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/tienda-virtual-promocional/">
                <img src="./img/planes/carrito_promo.png">
                <h2 style="margin-top: 15px;">Tienda Plan Promocional</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>

            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/tienda-virtual-bronce/">
                <img src="./img/planes/carrito_bronce.png">
                <h2 style="margin-top: 15px;">Tienda Virtual Bronce</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/tienda-virtual-plata/">
                <img src="./img/planes/carrito_silver.png">
                <h2 style="margin-top: 15px;">Tienda Virtual Plata</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/tienda-virtual-oro/">
                <img src="./img/planes/carrito_gold.png">
                <h2 style="margin-top: 15px;">Tienda Virtual Oro</h2>
                <p>Click para comprar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <div class="item item-divider">
                Otros Servicios
            </div>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/arquitectura/">
                <img src="./img/planes/arquitectura.png">
                <h2 style="margin-top: 15px;">Arquitectura</h2>
                <p>Contratar</p>
                <i class="icon ion-chevron-right"></i>
            </a>
            
            <a class="item item-thumbnail-left item-icon-right" href="#" browse-to="http://keysystems.com.ve/producto/logo-papeleria/">
                <img src="./img/planes/papeleria.png">
                <h2 style="margin-top: 15px;">Logo y Papelería</h2>
                <p>Contratar</p>
                <i class="icon ion-chevron-right"></i>
            </a>

      </div>
              
  </ion-content>
</ion-view>
