<ion-view view-title="Planes">
    <ion-content>
        
        <ion-refresher refreshing-icon="dots" on-refresh="RecargarPlanes()"></ion-refresher>

        <div class="card card-planes" ng-repeat="plan in planes">
            <div class="item item-text-wrap planes-box">
                <div class="row padding-0">
                    <div class="col col-50">
                        <div class="img-planes">
                            <img ng-src="{{plan.img_plan}}">
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="text-nombre">
                            <p>{{plan.nombre_plan}}</p>
                        </div>
                        <div class="row">
                            <div class="col col-75">
                                <div class="text-precio">
                                    <p>{{plan.precio_plan}} <i class="ion-social-usd-outline"></i></p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="icon-planes-descarga">
                                    <a browse-to="{{plan.archivo_plan}}">
                                        <i class="ion-android-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </ion-content>
</ion-view>
