/* Empty. Add your own CSS if you like */
body{
    font-family: 'Comfortaa', cursive;
}

/*Animation fondo*/
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}

@-webkit-keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
.scroll-animation{
  width: 100%; 
  height: 100%; 
  background-image: url(../img/bg-clouds.png);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size:cover;
  -webkit-animation:animatedBackground 50s linear infinite;
   -moz-animation:animatedBackground 50s linear infinite;
    -ms-animation:animatedBackground 50s linear infinite;
     -o-animation:animatedBackground 50s linear infinite;
        animation:animatedBackground 50s linear infinite;
}
/**/
.init-key{
	background: url(../img/fondo_negro.jpg);
	background-color: white;
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;
}

.logo-key{
	position:    absolute;
    top:         50%;
    left:        50%;
    width:        640px;
    height:       480px;
    margin-left: -320px;
    margin-top:  -120px;	
}
.img-logo-key{
	width: 150px;
	height: 150px;
}

#transparent{
  width: 100%;
  height: 150px;
  padding: 0px;
  margin: 0px;
}

@-moz-keyframes spin { 
  0% { 
    -webkit-transform:rotateZ(0deg)scale3d(1,1,1); 
  	top:-10%;
  	left: -324px;
  	opacity:0;
  }
  20% {
  	-webkit-transform:rotateZ(20deg)scale3d(1,1,1); 
  	opacity: 1;
  }
  100% { -webkit-transform:rotateZ(360deg)scale3d(1,1,1); 
  	opacity: 1;
  	top:50%;
  	left:324px;}
}
@-webkit-keyframes spin {
  0% { 
  	top:-10%;
  	-webkit-transform:rotateX(0deg)rotateZ(0deg)scale3d(1,1,1); 
  	left:-10%;
  }
  15%{
  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  	left: 0px;
  	top:50%;
  	height:250px;
  	margin:0;

  }
  18%{

  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  	height:30px;
  	left: 0px;
  	top:50%;
  	margin-top:44px;
  }
  20%{
  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  	margin:0;
  	height:74px;
  	left: 0px;
  	top:50%;
  }
  35% {
  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  margin:0; 
  	top:25%;
  }
  45% {
  	top:50%;
  	left:10%;
  	margin:0;
  	height:250px;
  }
  48%{
  	margin-top:44px;
  	height:250px;
  	top:50%;
  	left:10%;

  }
  50%{
  	top:50%;
  	left:10%;
  	margin:0;
  	height:250px;

  }
  60%{
  	top:25%;
  	left:20%;
  }
  65% { 
  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  	left:30%;
  	top:50%;
  	margin:0;
  	height:250px;
  }
  68%{
  	margin-top:44px;
  	height:30px;
  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  	left:30%;
  	top:50%;
  }
  70%{
  	margin:0;
  	height:250px;
  	-webkit-transform:rotateX(0deg)rotateZ(360deg)scale3d(1,1,1); 
  	left:30%;
  	top:50%;

  }
  85%{
  	-webkit-transform:rotateX(360deg)rotateZ(180deg)scale3d(10,10,10);

  }
  100%{
  	-webkit-transform:rotateX(0deg)rotateZ(0deg)scale3d(1,1,1); 
  }
}

.logo{
	position:absolute;
	width:224px;
	height:224px;
	top:50%;
	left:215px;
-webkit-animation: spin 5s  linear;
-moz-animation: spin 5s  linear;
animation:spin 5s   linear;
}

.text--line {
  font-size: .5em;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
.slider { 
    height: 200px; 
    text-align: center;
}
.slider-pager-page i{
    font-size: 8px;
    color: #fff;
}
.slider-pager .slider-pager-page{
    /*color: #fff;*/
    width: 7px;
}
.scroll { 
    height: 100% 
}

.box {
    width: 100%;
    height: 100%;
}

.yellow {
    background-color: #;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}
.blue-key{
    background-color: #142d35;
}
.h2-top{
    padding-top: 10px;
    font-family: 'Comfortaa', cursive;
}
.h4-local{
    font-family: 'Comfortaa', cursive;
}
.h2-name{
    font-family: 'Comfortaa', cursive;
}
.profile-picture img{
    /*border: 5px solid #fff;*/
    display: inline-block;
    width: 80px;
    height: 80px;
    /*border-radius: 50%;*/
    vertical-align: middle;
}
.box-white h2, p, h4{
    color: white;
    margin-top: 10px;
    /*text-shadow: 2px 0px 0px #000;*/
}
.box-content{
    padding-top: 30px;
}
.white{
    color: white;
}