/* Empty. Add your own CSS if you like */
.box-key{
	max-height: none;
	float: left; 
	text-decoration:none;
}
.item-body {
  	padding: 0px;
}
.button-enviar{
	padding-bottom: 25px;
}

#map_canvas {
    height: 200px;
    width: 100%;
    margin: 0px;
}
#map_canvas {
    position: relative;
}    
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.card, .list-inset {
    overflow: hidden;
    margin: 0px 0px;
    border-radius: 2px;
    background-color: #fff;
}
.padding{
    padding: 0px;
}